input[type="radio"] {
  display: none;
}

.certa{
   color: white;
	background: #066106;
	border-color: #005a29;
}
.errada{
   color: white;
	background: #a01c1c;
	border-color: #a01c1c;
}

label{
	cursor: pointer;
	
}

#resposta-errada{
	background: #a01c1c;

}

.table{
	border-width: 2px;
	border-color: black;
	border-radius: 10px;
}

li{
	border-width: 1px;
    border-color: black;
    font-family: "Poppins", sans-serif; 
}
li:hover {
   background-color: #5fcf80; 
}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #ecf1ee;
  }
 #menu{
    display: block;
    position: relative;
    color: #37423b;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
 }
 .container {
    font-family: "Poppins", sans-serif; 
 }
 .h1 {
   font-family: "Poppins", sans-serif; 
 }